<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content={{description}}>
    <meta name="author" content="Bijaya Gautam">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css?v=1.0">
</head>
<body>
    <header class="main-header">
        <nav class="navbar">
            {{!-- Logo --}}
            <div class="logo" >
                <a href="/"><img src="" alt="oneTnine travel logo"></a>
            </div>
        
            {{!-- Hamburger menu --}}

            {{!-- Main Menu --}}
            <ul class="main-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/roomListing">Room Listing</a></li>
                <li><a href="/userRegistration">User Registration</a></li>
            </ul>

            {{!-- Search Lens --}}

        </nav>
    </header>
    
    {{!-- Main Page Content --}}
    <main>
       
    </main>

    <!-- Main Footer Area -->
    <footer>
        <p>This website is owned and developed by Bijaya Gautam</p>
        <p>&copy; Copyright, 2020 oneTnine, All rights reserved.</p>
    </footer>
</body>
</html>