<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content={{description}}>
    <meta name="author" content="Bijaya Gautam">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css?v=1.0">
</head>
<body>
    <header class="main-header">
        <nav class="navbar">
            {{!-- Logo --}}
            <div class="logo" >
                <a href="/"><img src="" alt="oneTnine travel logo"></a>
            </div>
        
            {{!-- Hamburger menu --}}
            <div class="ham-menu" >
                <a href="/"><img src="/img/hamburger.svg" alt="Hamburger menu"></a>
            </div>

            {{!-- Main Menu --}}
            <ul class="main-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/roomListing">Room Listing</a></li>
                <li><a href="/userRegistration">User Registration</a></li>
            </ul>

            {{!-- Search Lens --}}
            <div class="search-lens" >
                <a href="/"><img src="/img/searchlens.svg" alt="Search lens"></a>
            </div>
        </nav>
    </header>
    
    {{!-- Main Page Content --}}
    <main class="main-content">
       {{{body}}}
    </main>

    <!-- Main Footer Area -->
    <footer class="main-footer">
        <div class="quick-link">
            <li><a href="/">Home</a></li>
            <li><a href="/roomListing">Room Listing</a></li>
            <li><a href="/userRegistration">User Registration</a></li>
        </div>

        <div class="social-media">

        </div>

        <div class="business-info">
            <p>This website is owned and developed by Bijaya Gautam</p>
            <p>&copy; Copyright, 2020 oneTnine, All rights reserved.</p>
        </div>
    </footer>
</body>
</html>