<section class="form">
    <form method="POST" action="/login" class="user-entry-form">
        <div class="form-info">
            <p>Login with <a href="#" class="other-link">Facebook</a> or <a href="#" class="other-link">Google</a> or</p>
            <hr>
            <p>login here</p>
        </div>
       
        <ul class="form-box">
            <li><label for="email"></label></li>
            <li><input type="email" name="emailAddress" placeholder="Email address"></li><br>

            <li><label for="password"></label></li>
            <li><input type="password" name="password" placeholder="Password"></li>
        </ul>

        <div>
            {{#each messages}}
                <div class="error-message">{{this}}</div>
            {{/each}}
            <input type="submit" value="Log in" class="form-button">
        </div>

        <div class="form-question">
            <a href="#" class="other-link">Forgot Password?</a>
        </div>
        <hr>

        <div class="form-question">
            <p>Don't have an oneTnine account? <a href="/userRegistration" class="other-link">Sign up</a></p>
        </div>
    </form>
</section>
