<section class="form">
    <form class="user-entry-form">
        <div class="form-info">
            <p>Sign up with <a href="#" class="other-link">Facebook</a> or <a href="#" class="other-link">Google</a> or</p>
            <hr>
            Create oneTnine Account here
        </div>
       
        <ul class="form-box">
            <li><label for="email"></label></li>
            <li><input type="email" name="emailaddress" placeholder="Email address"></li><br>

            <li><label for="firstname"></label></li>
            <li><input type="text" name="firstname" placeholder="First Name"></li><br>

            <li><label for="lastname"></label></li>
            <li><input type="text" name="lastname" placeholder="Last Name"></li><br>

            <li><label for="password"></label></li>
            <li><input type="password" name="password" placeholder="Create a password"></li><br>

            <p>Birthday: To sign up, you need to be at least 18.</p>
            <li><label for="birthday"></label></li>
            <li><input type="date" name="bday"></li><br>
        </ul>

        <div>
            <input type="button" value="Sign up" class="signup-button">
        </div>

        <div class="form-question">
            <p>Already have an oneTnine account? <a href="#" class="other-link">Log in</a></p>
        </div>
    </form>
</section>
