<section class="form">
    <form method="POST" action="/userRegistration" class="user-entry-form">
        <div class="form-info">
            <p>Sign up with <a href="#" class="other-link">Facebook</a> or <a href="#" class="other-link">Google</a> or</p>
            <hr>
            <p>Create oneTnine Account here</p>
        </div>
       
        <ul class="form-box">
            <li><label for="email"></label></li>
            <li><input type="email" name="emailAddress" placeholder="Email address"></li><br>

            <li><label for="phone"></label></li>
            <li><input type="tel" name="phone" placeholder="phone number: 6471212121" pattern="[0-9]{3}[0-9]{2}[0-9]{4}" required></li><br>

            <li><label for="firstname"></label></li>
            <li><input type="text" name="firstname" placeholder="First Name"></li><br>

            <li><label for="lastname"></label></li>
            <li><input type="text" name="lastname" placeholder="Last Name"></li><br>

            <li><label for="password"></label></li>
            <li><input type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Create a password"></li><br>       
                 
            <p>Birthday: To sign up, you need to be at least 18.</p>
            <li><label for="birthday"></label></li>
            <li><input type="date" name="bday"></li><br>
        </ul>

        <div>
            {{#each messages}}
                <div class="error-message">{{this}}</div>
            {{/each}}
            <input type="submit" value="Sign up" class="form-button">
        </div>

        <div class="form-question">
            <p>Already have an oneTnine account? <a href="/login" class="other-link">Log in</a></p>
        </div>
    </form>
</section>
