@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

:root {
    --col-theme: #04a5a5;
    --col-theme-accent: #1c3029;
    --col-theme-fg: #eff1fa;

    --col-darktheme:rgb(4, 98, 110);
    --col-lighttheme:rgb(188, 247, 244);
    
    --col-superwhite: #ffffff;
    --col-superdark: #000000;
    --col-highlight: #ee3d1e;

    --content-font: 'Titillium Web', sans-serif;
}

/* General CSS */
body,h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

.other-link{
    color: var(--col-darktheme);
    font-weight: bold;
}

/* CSS for header starts here */
.main-header {
    background-color: var(--col-theme);
    color: var(--col-theme-fg);
    font-family: var(--content-font);
}

.navbar {
    display: grid;
    grid-template-columns: 3em  auto  3em;
    grid-template-areas:  "menudrop logo  searchlens"
                          "menu menu menu"
                          "searchcontainer searchcontainer searchcontainer";
}

.logo-container{
    text-align: center;
    align-self: center;
}

.logo {
    grid-area: logo;
    height : 2.5em;
}

.ham-menu {
    grid-area: menudrop;
    text-align: center;
    padding: 1em 0;
}

.main-menu {
    grid-area: menu;
}

.main-menu a {
    color:var(--col-superwhite);
    display: block;
    line-height: 2;
}

.search-lens {
    grid-area: searchlens;
    text-align: center;
    padding: 1em 0;
}

.searchbox{
    width: 100%;
    padding: 1.2em;
    border: 0 solid;
    background-color: var(--col-lighttheme);
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-position: 0.50em;
    padding-left: 2.5em;
}

.search-content{
    grid-area: searchcontainer;
}

/* CSS for main content starts here */
.home-info{
    display: none;
    padding: 0 1em;
}

.main-content{
    font-family: var(--content-font);
}

.form{
    padding: 1em 0;
}

.user-entry-form{
    margin: 0 auto;
    max-width: 25em;
    min-width: 20em;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.2em var(--col-lighttheme);
    border-radius: 0.2em;
}

.form-info{
    text-align: center;
}

.form-box input{
    width: 80%;
    padding: 0.8em;
    border-radius: 0.2em;
    border: 0 solid;
    background-color: var(--col-lighttheme);
    padding-left: 1.5em;
}

.form-button{
    margin: 1em 2em;
    background-color:var(--col-darktheme);
    color: var(--col-superwhite);
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
    border: none;
    border-radius: 0.3em;
}

.form-question{
    padding: 0 0 0 2em;
}

.form-dropdown{
    width: 89%;
    padding: 0.8em;
    border-radius: 0.2em;
    border: 0 solid;
    background-color: var(--col-lighttheme);
    padding-left: 1.5em;
}

.booking-form{
    font-weight:bold;
    color: var(--col-highlight);
}

.photo-galary{
    padding: 0 1em;
}

.promotion{
    display: inline;
}

/* CSS for main footer starts here */
.main-footer{
    background-color: var(--col-theme-accent);
    color: var(--col-theme-fg);
    font-family: var(--content-font);
}

.quick-link{
    text-align: left;
    padding: 1em 1em 0 1em;
    line-height: 2;
}

.quick-link a{
    color:var(--col-superwhite);
}

.business-info{
    text-align: center;
    padding: 0 0 1em 0;
}

.inspirational-quote{
    font-size: 1rem;
}

.room {
    max-width: 20em;
    box-shadow: 0.1em 0.1em 0.2em var(--col-lighttheme);
    border-radius: 0.2em;
    margin: 1em auto;
}

.room a{
    color: var(--col-theme-accent);
}

.price-rating{
    display: grid;
    grid-template-columns: auto 2em;
    padding: 0.5em;
}

/* css to toggle show and hide content */
.show-hide{
    display: none;
}

/* Media Query Starts Here--- */
@media screen and (min-width: 60em) {
    .navbar {
        grid-template-columns: 10em  auto  20em 3.5em;
        grid-template-areas:  "logo menu searchcontainer searchlens";  
    }

    .main-menu {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--col-theme);
    }

    .ham-menu {
        display: none;
    }

    .searchbox{
        border-radius: 0.2em;
    }

    .search-content{
        grid-area: searchcontainer;
        padding: 1em 0;
        width: 100%;
    }

    .main-footer{
        display: grid;
        grid-template-columns: 10em  auto  6em;
        grid-template-areas:  "quicklink businessinfo  socialmedia";
    }

    .quick-link{
        grid-area: quicklink;
        line-height: 2;
    }
    
    .business-info{
        grid-area: businessinfo;
    }
    
    .home-sepration{
        display: grid;
        grid-template-columns: 30em  auto;
        grid-template-areas:  "homeinfo booking";
    }

    .home-info{
        display: inline;
        padding: 0 1em;
        grid-area: homeinfo;
    }

    .promotion{
        display: grid;
        grid-template-columns: auto  auto auto;
        grid-gap: 1em;
    }

    .room-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1em;
        padding: 1em;
    }
}